<html>

<head>
</head>

<body ><!--ng-app="App" ng-controller="Payment_Controller" ng-init="orderSumnmay()" ng-cloak>-->
    <h1>Order Summary</h1>
    <table>
        <thead>
            <td> Sr no.</td>
            <td> Name</td>
            <td> Price</td>
        </thead>
        <tbody>
            <% for(var i =0 ; i<cartList.length ; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= cartList[i].product_name %></td>
                <td><%= cartList[i].product_price %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <h2> Total : <%= total %></h2>
    <form action="/inititatePayment" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_EFauhL4VIeoeTDQUBdETeCmj" data-name="Demo Site" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto" data-amount="<%= total*100 %>">
        </script>
        <input name="token" value="<%= token %>" type="hidden">
    </form>
</body>

</html>