<html>
    <head>
    </head>
    <body>
        <img src="<%= image_url %>" />
        <h2>Name : <%= name %></h2>
        <h2>GoogleID : <%= id %></h2>
        <h2>Email : <%= email %></h2>
        <h2>Wallet Balance : <%= wallet %></h2>
        <ul>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/history">PURCHASE HISTORY</a></li>
            <li><a href="/wallet">ADD BALANCE TO WALLET</a></li>
            <li><a href="/cards">SAVED CARDS</a></li>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
    </body>
</html>