<html>
<head></head>
    <body>
        <h1>Recipt</h1>
         <table>
        <thead>
            <td> Sr no.</td>
            <td> Name</td>
            <td> Price</td>
        </thead>
        <tbody>
            <% for(var i =0 ; i<cartList.length ; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= cartList[i].product_name %></td>
                <td><%= cartList[i].product_price %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <h2> Total : <%= total %></h2>
        <h3>Payment Status : <%= status %></h3>
        
        <a href="/profile">GO BACK TO PROFILE</a>
    </body>
</html>