<html>
<head>
    <link href="styles/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Receipt</h1>
         <table>
        <tr>
            <th> Sr no.</th>
            <th> Name</th>
            <th> Price</th>
        </tr>
            <% for(var i =0 ; i<cartList.length ; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= cartList[i].product_name %></td>
                <td><%= cartList[i].product_price %></td>
            </tr>
            <% } %>
    </table>
    <h2> Total : <%= total %></h2>
        <h3>Payment Status : <%= status %></h3>
        
        <a href="/profile">GO BACK TO PROFILE</a>
    </body>
</html>